# Code Hierarchy Node Parsing is pretty complex
# Adding designers here so they can be notified of PRs
docs/examples/node_parsers/code_hierarchy @ryanpeach
tests/node_parser/code_hierarchy @ryanpeach
llama_index/node_parser/code_hierarchy.py @ryanpeach
