llama_index/_static
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
*.egg
.pytest_cache/
.ruff_cache
.mypy_cache/
.coverage
coverage.xml
.env
.venv
env/
venv/
ENV/
.idea
.vscode
*.swp
