# Build
.pants.d/
dist/
migration_scripts/

# IDEs
.idea
.vscode
.zed
*.code-workspace

# Local development
venv/
.ruff_cache/
.pytest_cache/

.venv/
.ipynb_checkpoints
.__pycache__
__pycache__
dev_notebooks/

# Other
llamaindex_registry.txt
packages_to_bump_deduped.txt
llama-index-integrations/tools/llama-index-tools-mcp/.venv
.env
credentials.json
token.json
.python-version
.DS_Store
*.sqlite3
*.db
llama-index-core/llama_index/core/_static
