# requirements for external data

wikipedia
pymongo
slack_sdk
discord.py
boto3
moto[s3,dynamodb]

# google
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# vellum
vellum-ai==0.0.15