llama_index/_static
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
.installed.cfg
MANIFEST
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.ruff_cache
*.log
.env
.venv
env/
venv/
.mypy_cache/
.idea
*.swp
.vscode
Pipfile
Pipfile.lock
pyrightconfig.json
.ipynb_checkpoints
notebooks/
uv.lock
