llama_index/_static
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
.Python
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
etc/
include/
lib/
lib64/
parts/
sdist/
share/
var/
wheels/
__pypackages__/
.installed.cfg
*.egg-info/
.installed.cfg
*.egg
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pyvenv.cfg
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
# pytest
.pytest_cache/
.ruff_cache
