./llama-index-core/
./llama-index-integrations/readers/llama-index-readers-file
sphinx>6
furo>=2023.3.27
docutils<0.19,>=0.15
m2r2
myst-parser==0.18.0
myst-nb
sphinx-autobuild
sphinx_rtd_theme
pydantic<2.0.0
autodoc_pydantic<=1.9.0
sphinx-reredirects>=0.1.2
sphinx-automodapi==0.16.0
sphinxcontrib-gtagjs==0.2.1
