name: Core Typecheck

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  core-typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install 3.12

      - name: Run Mypy
        working-directory: llama-index-core
        run: uv run -- mypy llama_index
