name: Linting

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      # You can use PyPy versions in python-version.
      # For example, pypy-2.7 and pypy-3.8
      matrix:
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r data_requirements.txt
      - name: Run linter
        run: make lint
      - name: Ensure Changelog Updated
        run: |
          for file in ${{ steps.changed-files.outputs.changed_files }}; do if [ "${file}" == CHANGELOG.md ]; then exit 0; fi; done; exit 1;
